body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003a80;
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-code-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.auth-code-item span {
  font-size: 24px;
  font-weight: bold;
}

.countdown-timer {
  font-size: 18px;
  font-weight: bold;
}

.regenerating-text {
  font-size: 16px;
  font-style: italic;
  color: #666;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #7e2e84;
  margin-left: 10px;
}



/* Styles for the circular animation */
.rct-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #7e2e84;
}

.rct-timer {
  font-size: 18px;
  font-weight: bold;
  color: #7e2e84;
}

.rct-outer-circle {
  fill: transparent;
}

.rct-inner-circle {
  fill: transparent;
  stroke: #7e2e84;
  stroke-dasharray: 187;
  stroke-linecap: round;
  stroke-width: 6;
}

.rct-circle-suffix {
  font-size: 12px;
  text-transform: uppercase;
  fill: #7e2e84;
}
